venv/
__pycache__/
*.pyc
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
build/
dist/
Pipfile.lock
pip-wheel-metadata/
*.log
*.sqlite3
*.db
*.env
.env.*
*.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
*.swp
notas.ipynb
annotations/
